body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
}

img {
    width: 105px;
}

p {
    padding-left: 30px;
    margin: 0;
}

.color {
    color: #ffb22e;
}

p.strong {
    font-weight: 700;
}

section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

a {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    width: 30rem;
    margin: 1rem;
    height: 6rem;
    text-decoration: none;
}

p.join {
    color: black;
}
p.whats {
    color: gray;
}

/* img.whatsicon {
    height: 40px;
} */

img.qr {
    width: 80px;
    margin-left: 7px;
}


@media only screen and (max-width: 920px) {
    p {
        /* font-size: 14px; */
        padding-left: 10px;
    }
    p.resp {
        font-size: 13px;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
  
  }