body {
    font-family: 'Roboto', sans-serif;
  
    background: 
      /* top, transparent */ 
      linear-gradient(
        rgba(0, 0, 0, 0.8), 
        rgba(0, 0, 0, 0.8)
      ),
      /* bottom, image */
      url('../img/Waveslq.jpg') repeat static center;
}


header {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.text {
    color: white;
}

img.logo {
    width: 105px;
}

img.here {
    display: block;
    margin: 0 auto;
}

p {
    padding-left: 30px;
    margin: 0;
}

.color {
    color: #ffb22e;
}

p.strong {
    font-weight: 700;
}


div.links {
    padding: 3rem;
    display: flex;
    justify-content: center;
}

a.rules {
    color: white;
    font-size: 3rem;
    text-decoration: none;
}

a.backhome {
    color: white;
    font-size: 1rem;
    text-decoration: none;
}

section.fivethings {
    color: white;
    display: block;
    margin: 0 auto;
    width: 80%;
}

h1.centered {
    font-size: 2rem;
    font-style: italic;
}



@media only screen and (max-width: 920px) {
    p {
        padding-left: 10px;
    }
    p.resp {
        font-size: 13px;
    }
    section {
        flex-direction: column;
        align-items: center;
        margin-top: 0px;
    }
  
  }
