body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

header {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: white;
}

img {
    width: 105px;
}

p {
    padding-left: 30px;
    margin: 0;
}

.color {
    color: #ffb22e;
}

p.strong {
    font-weight: 700;
}

section {
    display: flex;
    justify-content: center;
}

button {
    height: 2rem;
    margin: 2rem;
}

@media only screen and (max-width: 920px) {
    p {
        /* font-size: 14px; */
        padding-left: 10px;
    }
    p.resp {
        font-size: 13px;
    }
    section {
        flex-direction: column;
    }
    button {
        margin: 1rem;
    }
  }